 
<template>
  <div class="container">
    <form v-on:submit.prevent id="form">
      <div class="form-group">
        <p class="h3">Nombre</p>
        <input class="form-control" placeholder="NOMBRE" type="text" v-model="formulario.name">
      </div>
      <div class="form-group">
        <p class="h3">Edad</p>
        <input class="form-control" placeholder="EDAD" type="text" v-model="formulario.age" >
      </div>
      <div class="form-group">
        <p class="h3">Cedula</p>
        <input class="form-control" placeholder="CEDULA" type="text" v-model="formulario.idperson"  />
      </div>
      <div class="form-group">
        <p class="h3">Faculta</p>
        <select class="form-control" placeholder="FACULTAD" type="text" v-model="formulario.faculty"  >
          <option value="CS">Ciencias de la Salud</option>
          <option value="HGT">Hotelería, Gastronomía y Turismo</option>
          <option value="IAD">Ingeniería, Arquitectura y Diseño</option>
          <option value="CAMP">Ciencias Administrativas, Marítima y Portuaria</option>
          <option value="DCP">Derecho y Ciencias Políticas</option>
        </select>
      </div>
      <div class="form-group">
        <p class="h3">Sexo</p>
        <select class="form-control" placeholder="SEXO" type="text" v-model="formulario.gender"  >
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="form-group">
        <p class="h3">N° de computadora</p>
        <select class="form-control" placeholder="N° DE COMPUTADORA" type="text" v-model="formulario.idpc">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
        </select>
      </div>
      <br>
      <button type="submit"  class="btn btn-outline-success" @click="addForm">Enviar</button>

    </form>
     <br>
    <listado :lista="forms"> </listado>
  </div>
</template>
<script>
import Listado from './List.vue'
export default {
  name: "Formulario",
  props: {},
  components: {
    Listado
  },
  data() {
    return {
      formulario:{
         name: "",
        age: "",
        idperson:"",
        faculty:"",
        gender:"",
        idpc:null,
      },
      forms: []
    };
  },
  methods: {
    addForm() {
      console.log(this.formulario);
      let temp = Object.assign({}, this.formulario)
      this.forms.push(temp);
      this.formulario = {
         name: "",
        age: "",
        idperson:"",
        faculty:"",
        gender:"",
        idpc:null,}
    },
  }
};
</script>
<style>
.form-group{
color: #42a729;
}

</style>