<template>
    <div>
        <h2>Componente {{ nombre }} </h2>
    </div>
</template>
<script>
export default {
    name: "Home",
    props: {
        prueba: String
    },
    data() {
        return {
            nombre: this.prueba
        }
    }

}
</script>

<style>
    
</style>