<template>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Cedula</th>
                <th scope="col">Facultad</th>
                <th scope="col">Sexo</th>
                <th scope="col">PC</th> 
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in lista" :key="index" scope="row">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.idperson}}</td>
                <td>{{item.faculty}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.idpc}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "List",
    props: {
        lista: Array
    }
}
</script>

<style>
</style>