<template>
  <div id="app">
    <div>
      <h1>Fomulario</h1>
      <!-- <Home prueba="Home desde App"> </Home> -->
      <formulario />
    </div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Home from './components/Home.vue'
import Formulario from './components/Formulario.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    Home,
    Formulario,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

div{
  background: #113a3af1
}
h1{
  color: #42a729;
}
</style>
